# Ignorar o ambiente virtual
venv/

# Ignorar os dados brutos e pesados
datasets/
*.csv
*.zip
*.png

# Ignorar pastas ocultas do VS Code e do Python
.vscode/
__pycache__/
*.pyc

#Ignora credenciais do banco de dados
.env